@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900');
@import './bar.css';
@import './card.css';

:root {
    --border-radius: 8px;
    --background: #000000;
    --foreground: #ffffff;

    --ac-1: #000000;
    --ac-2: #1b1b1b;
    --ac-3: #242424;
    --ac-4: #808080;
    --ac-5: #a5a5a5;
    
    --font-primary: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--ac-3) var(--ac-1);
}

body {
    font-family: var(--font-primary);
    background: var(--background);
    color: var(--foreground);
}

main {
    margin-top: 64px;
    padding: 24px 24px;
    transition: margin-left 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

::selection {
    background: var(--foreground);
    color: var(--ac-1);
}


.contact-link {
    text-decoration: none;
    transition: opacity 0.15s ease, border-color 0.05s ease;
    display: block;
    padding: 12px 16px;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    opacity: 0.6;
    color: inherit;
}

.contact-link:hover {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.12);
}