<section class="hero">
    <div class="shader-container">
        <canvas id="singularity-canvas"></canvas>
    </div>
</section>


<section class="feature-section reveal" style="margin-top: 10vh;">
    <div class="feature-card">
        <div class="feature-bg" style="background-image: url('/Resources/Images/sylveon_going_into_the_sky.gif'); background-size: cover; background-position: center; opacity: 0.6;"></div> 
        
        <div class="feature-content">
            <h2 class="feature-title">Staircase</h2>
            <p class="feature-desc">A general purpose experience framework for Roblox, for maintainability and ease of use.</p>
            <a href="staircase" class="btn btn-secondary" style="text-decoration: none;">Learn More</a>
        </div>
    </div>
</section>